.area-head {
  font-weight: bold;
}

.circle {
  // border: 2px solid rgba(49, 49, 4, 0.945);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  background: gray;
}

.danger {
  background-color: red;
}

.neutral {
  background-color: orange;
}

.success {
  background-color: green;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: flex-start;
  align-items: center;
  margin: 50px auto;
  
  .weekly-report-table {
    background: white;
    margin-bottom: 50px;
    border-collapse: collapse;
    border-spacing: 0px;
    tr, td{
      border: 1px solid black;
    }

    &#progress-report, &#regress-report {
      // display: none;
      // visibility: hidden;
    }
  }

  .button-container {
    margin: 20px 0 0;
  }    
}

.arrow {
  position: relative;
  display: inline-block;
  font-size: 30px;
  height: 30px;
  top: 5px;
  margin: 0 0 0 10px;
  transition: .1s ease-in;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 20px;
    cursor: pointer;
  }

  &:before {
    left: 12px;
    width: 20px;
    height: 20px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate(0, -0.5em) rotate(45deg);
    transform: translate(0, -0.5em) rotate(45deg);
    border-radius: 0 0px 0 0;
    box-shadow: inset -8px 8px 0 0 gray;
  }

  &:after {
    left: 0;
    width: 25px;
    height: 8px;
    -webkit-transform: translate(0, -0.1em);
    transform: translate(0, -9px);
    background-color: gray;
  }

  &.neutral {
    &:before {
      box-shadow: inset -8px 8px 0 0 orange;
    }
    &:after {
      background-color: orange;
    }
  }

  &.success {
    transform: rotateZ(-45deg);
    top: 15px;
    &:before {
      box-shadow: inset -8px 8px 0 0 green;
    }
    &:after {
      background-color: green;
    }
  }

  &.danger {
    transform: rotateZ(45deg);
    top: -10px;
    &:before {
      box-shadow: inset -8px 8px 0 0 red;
    }
    &:after {
      background-color: red;
    }
  }
}